p.normal {
    font-style: normal;
  }
  
  p.italic {
    font-style: italic;
  }
  
  p.oblique {
    font-style: oblique;
  }
  #header{
    text-shadow: 3px 2px #331a00; text-align:center;
  }
  body {
    background-color: #684907; background-repeat:no-repeat; background-size:1500px; background-repeat:repeat;}
  #title
  {
    color:#008000
  }
  p.groove {border-style: groove;}
  #header{
    border-width: 5px;
    background-color: #ffffff; margin-left:350px; margin-right:350px; border-radius: 25px; opacity:75%;
  }
  #Introduction{
    border-width: 3px;
    background-color: #996633;
    opacity:75%; padding:25px;
  ;
  }
  #Introduction{
    text-align: center; text-align:center;  color:#ffffff; margin-right:350px; margin-left:350px;border-radius: 25px;
  }
  #movies{
    color:#ffffff; border-width:5px; border-width: 3px;
    background-color: #996633; margin-right:250px; margin-left:250px; border-radius:25px; opacity:90%; 
  }
  p{
    color:#ffffff; font-size:20px; padding:50px; text-indent:25px;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 68%;
  }
  h3{
    text-align:center
  }
  a:hover {
    background-color: forestgreen;
  }
  a:visited {
    color: forestgreen;}
  
    a:link {color: firebrick}

    @media only screen and (max-width: 300px) {
      .prev, .next,.text {font-size: 11px}
    }
    /* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #684907;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #684907;
  color: white;
}

/* Centered section inside the top navigation */
.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }

  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}
.topnav {
  background-color: #684907;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #684907;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #684907; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
  