p.normal {
    font-style: normal;
  }
  
  p.italic {
    font-style: italic;
  }
  
  p.oblique {
    font-style: oblique;
  }
  #header{
    text-shadow: 3px 2px #331a00; text-align:center;
  }
  body {
    background-color: #684907; background-repeat:no-repeat; background-size:1500px; background-repeat:repeat;}
  #title
  {
    color:#008000
  }
  p.groove {border-style: groove;}
  #header{
    border-width: 5px;
    background-color: #ffffff; margin-left:350px; margin-right:350px; border-radius: 25px; opacity:75%;
  }
  #Introduction{
    border-width: 3px;
    background-color: #996633;
    opacity:75%; padding:25px;
  ;
  }
  #Introduction{
    text-align: center; text-align:center;  color:#ffffff; margin-right:350px; margin-left:350px;border-radius: 25px;
  }
  #movies{
    color:#ffffff; border-width:5px; border-width: 3px;
    background-color: #996633; margin-right:250px; margin-left:250px; border-radius:25px; opacity:90%; 
  }
  p{
    color:#ffffff; font-size:20px; padding:50px; text-indent:25px;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 68%;
  }
  h3{
    text-align:center
  }
  a:hover {
    background-color: forestgreen;
  }
  a:visited {
    color: forestgreen;}
  
    a:link {color: firebrick}


    .slideshow-container {
      max-width: 1000px;
      position: relative;
      margin: auto;
    }
    
    /* Hide the images by default */
    .mySlides {
      display: none;
    }
    
    /* Next & previous buttons */
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }
    
    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
    }
    
    /* Caption text */
    .text {
      color: #f2f2f2;
      font-size: 15px;
      padding: 8px 12px;
      position: absolute;
      bottom: 8px;
      width: 100%;
      text-align: center;
    }
    
    
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #684907;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    
    .active, .dot:hover {
      background-color: #684907;
    }
    
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }
    
    @-webkit-keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
    }
    
    @keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
    }
    .hide {
      display: none;
    }
        
    .myDIV:hover + .hide {
      display: block;
      color: red;
    }

    @media only screen and (max-width: 300px) {
      .prev, .next,.text {font-size: 11px}
    }
    .navbar {
      overflow: hidden;
      background-color: #684907;
      position: fixed;
      top: 0;
      width: 100%;
    }
    
    .navbar a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    
    .navbar a:hover {
      background: #336600;
      color: black;
    }
    
    .main {
      padding: 16px;
      margin-top: 30px;
      height: 1500px; /* Used in this example to enable scrolling */
    }
    
    
  